<!DOCTYPE html>
<html>
	<head>
		<title> {{page.title}} </title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>

	<body>
		<nav>
			<h2> Theoria, and Other Boring Existentialisms </h2>
			<ul>
				<li><a href="/"> Home </a></li>
				<li><a href="/about"> About </a></li>
			</ul>
		</nav>

		<div class="container">
		{{ content }}
		</div>


		<footer>
			<ul>
				<li><a href="mailto:dxtian2@gmail.com">email</a></li>
				<li><a href="https://github.com/teeyan">github</a></li>
				<li><a href="https://linkedin.com/in/teeyan">linkedin</a></li>
			</ul>
		</footer>
	</body>

</html>